:root {
  --good-color: rgba(0, 200, 0, 0.5);
  --neutral-color: rgb(245, 245, 200);
  --bad-color: rgba(255, 118, 118, 0.8);
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
